.movieRow{
  margin-bottom: 30px;

  h2{
    margin: 0px 30px;
  }
  .movieRow--left, .movieRow--right{
    position: absolute;
    width: 40px;
    height: 225px;
    transform: scale(0.95);
    background-color:rgba(0, 0, 0, 0);
    z-index: 99;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content:center;
    cursor:pointer;
    opacity: 0;
    transition: ease 0.5s;
    @media (max-width: 768px) {
      opacity: 1;
    }
  }
  .movieRow--left{
    left: 0;
  }
  .movieRow--right{
    right: 0;
  }
}
.movieRow--listArea{
  overflow-x: hidden;
  padding-left: 30px;
  mask-image: linear-gradient(to right, black 80%, transparent);
}
.movieRow--item{
  display: inline-block;
  width: 150px;
  cursor: pointer;
  

  img{
    width: 100%;
    transform: scale(0.9);
    transition: ease 0.2s;
    box-shadow: 2px 2px 7px rgb(4, 4, 4);
    &:hover{
    transform: scale(0.95);
    }
  }
}
.movieRow--list{
  transition: all ease 0.5s;
}
.movieRow:hover .movieRow--left, .movieRow:hover .movieRow--right {
  opacity: 1;
}