*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #111;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.lists{
  margin-top:-120px;
}
a{
  text-decoration: none;
  color: red;
  font-weight: bold;
}
li{
  list-style-type: none;
}